@import '~reveal.js/css/reveal.scss';
//@import '~reveal.js/dist/theme/white.css';

// Default mixins and settings -----------------
@import "~reveal.js/css/theme/template/mixins";
@import "~reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Override styles -----------------------------

$backgroundColor: $background-color-base;

$mainColor: $white;
$headingColor: $white;

$mainFontSize: 36px;
$mainFont: $font-family-base;
$headingFont: $font-family-base;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $white;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.75rem;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// ---------------------------------------------

// Theme template ------------------------------
@import "~reveal.js/css/theme/template/theme";
// ---------------------------------------------

@import "~reveal.js-verticator/plugin/verticator/verticator.css";
//@import "~reveal.js-simplemenu/plugin/highlight/zenburn.css";

ul.verticator {
  right: 2.2vw;
  padding: 0 !important;

  li {
    width: Max(1.7vw, 12px);
    height: Max(1.7vw, 12px);;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    box-sizing: border-box;

    &.active {
      color: inherit;
      border: 1px solid white;
      border-radius: 12px;
      position: relative;
      background-color: rgba(255, 255, 255, 0.3);
    }

    a {
      width: auto !important;
      height: auto !important;

      &:after {
        width: 6px !important;
        height: 6px !important;
        transform: translateZ(0) scale(1) !important;
      }
    }
  }
}

.menubar {
  width: auto;
  position: inherit;
  border: none;
}

.menubar ul.menu, .menubar .menu ul {
  list-style-type: none;
  margin-left: 0;
  text-align: center;
}

.menubar, .menubar a {
  //font-size: 1rem;
}

.menu li {
  display: inline-block;
  margin-right: 14px;
  margin-left: 14px;
}

.menu a {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.5);
}

.menu a:hover {
  color: white;
}

.menu a.active,
.menu li.active a {
  color: white;
  pointer-events: none;
}

