//@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('/fonts/fonts.css');

//== Colors
$white: #fff !default;
$black: #000 !default;
$background-color-base: #04001C !default;
$color-primary: #ffc22e;
$color-info: #A0AAE1;

// Fonts
$font-family-base: "Karla", "Helvetica Neue", sans-serif;
$heading-shadow-base: 0px 4px 4px rgba(13, 20, 41, 0.2);

// Sizing
$radius-base: 0.5rem;

%card {
  background: rgba($white, 0.05);
  border: 1px solid rgba($white, 0.05);
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: $radius-base;
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.43em;
  letter-spacing: -0.02em;
  // font-weight: 300;
}

%card-label {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.16em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  padding: 0.5em 1em;
  background: rgba($white, 0.05);
  border: 1px solid rgba($white, 0.05);
  box-sizing: border-box;
  position: absolute;
}
