@import "variables";
@import "reveal";

html, body {
  margin: 0;
  padding: 0;
  background-color: $background-color-base;
  color: $white;
}

html {
  min-height: 100vh;
  background-image: url("~@/../public/images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.reveal-viewport {
  background: transparent !important;

  .backgrounds {
    z-index: -999;
  }
}

h3, h6 {
  font-weight: 400 !important;
  text-transform: none !important;
}
