@import "variables";
@import "reveal";

html, body {
  margin: 0;
  padding: 0;
  background-color: $background-color-base;
  color: $white;
}

html {
  min-height: 100vh;
  background-image: url("~@/../public/images/ellipse.svg"), url("~@/../public/images/noise.svg");
  background-position: center, top;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;

}

body.reveal-viewport {
  background: transparent !important;

  .backgrounds {
    display: none !important;
  }
}

h3, h6 {
  font-weight: 400 !important;
  text-transform: none !important;
}
